.nav-header {
  padding: 20px; }
  .nav-header img {
    vertical-align: top; }
  .nav-header h1 {
    display: inline-block;
    margin: 0;
    margin-bottom: 30px;
    float: left;
    line-height: 30px;
    font-size: 24px;
    font-weight: 400; }
  .nav-header .context-menu-container {
    display: inline-block; }
  .nav-header .navbar-nav {
    float: left;
    margin: 0; }
  .nav-header ul.tab-menu > li.active > a, .nav-header .nav li a.active {
    color: #3f90dc;
    background: #fff; }
  .nav-header ul > li > a, .nav-header ul > li > span {
    max-height: 58px;
    text-align: center;
    position: relative;
    display: block;
    background: #dce6ef;
    height: 30px;
    line-height: 32px;
    padding: 0 15px;
    border-radius: 50px;
    min-width: 60px;
    color: #4a5669;
    margin-left: 15px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px; }
    .nav-header ul > li > a:hover, .nav-header ul > li > span:hover {
      background-color: #fff;
      color: #3f90dc;
      font-weight: 600; }
  .nav-header ul > li > span {
    background-color: #fff;
    color: #3f90dc;
    font-weight: 600; }
  .nav-header .sign-in-nav {
    float: right; }
